
:root{
    --cor0:#0000FF;
    --cor1:#0000E6;
    --cor2:#0000BF;
    --cor3:#000080;
    --cor4:#000040;
   
    --fonte-padrao: arial,verdana,helvetica,sans-serif;
    --fonte-texto:'Lato',sans-serif;
    --fonte-titulo: 'Bebas Neue', cursive;

   }

.containerr{
    background-color:var(--cor0);
    
   
}
h1{
    font-family: var(--fonte-titulo);
    text-align: center;
}
p{
    font-family: var(--fonte-texto);
    text-align: justify;
}
h2{
font-family: var(--fonte-texto);
text-align: center;
}


#logomarca{
    font-family: var(--fonte-texto);
    text-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.719);
}
#Navb{
    background-color: black;
}
.navbar{
    box-shadow: 5px 2px 15px 5px rgba(0, 0, 0, 0.658); 
}
.nav-link{

    font-family:var(--fonte-texto);
    
}

.Home{

    background-color: var(--cor0);
    padding-top: 140px;
    padding-bottom: 140px;

}
#Artigo1{
    
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.380);
}
#Imagem1{
    width: 400px;
    height: 380px;
    border: black 4px solid;
}

@media(max-width:800px)
{
#Imagem1{
    width: 450px;
    height: 450px;
}
}

.Serviços{
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.Projetos{
    padding-top: 80px;
}
#texto2{

    margin: 5px;
    padding: 10px;

}
#cards{
 
 margin-bottom: 100px;
}
.card{

   padding-top: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   background-color: black;
}

#Contatos{
    background-color:var(--cor0);
    padding-bottom: 40px;
    padding-top: 40px;
    margin: 0px;
}

#Social{
    
    background-color: rgba(0, 0, 0, 0.925);
    margin: 20px;
    padding: 20px;
    margin-bottom: 50px;
}
.Cadastro{
    margin-top: 100px;
    margin-bottom: 100px;
}


#footer{
    margin: 0px;
    padding: 7px;
    background-color: black;
    color: white;
    font-family: var(--fonte-texto);
    text-align: center;
    box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.719);
}
